select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--border-light);
  font-size: 1.6rem;
  background-color: var(--default-white);
  cursor: pointer;
}

input:hover {
  border: 0.1rem solid var(--border-dark);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

.back {
  color: var(--theme-text);
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.img-wrapper {
  flex: 2 1 50rem;
}

.info-wrapper {
  flex: 1 1 25rem;
}

.cart-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.to-cart-card {
  border: 0.1rem var(--product-border) solid;
  background-color: var(--product-off-white);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.to-cart-card > * {
  margin-bottom: 0.5rem;
}

.success {
  color: var(--alert-success);
}
.error {
  color: var(--alert-danger-txt);
}

button.cart-btn {
  background: linear-gradient(var(--theme-primary-shade), var(--theme-primary));
  color: var(--theme-text);
  width: 100%;
}

img.img-large {
  width: 100%;
}
