ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.to-cart-card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.to-cart-card > * {
  margin-bottom: 0.5rem;
}

.success {
  color: #20a020;
}
.error {
  color: #a02020;
}

button.cart-btn {
  background: linear-gradient(rgb(131, 209, 173), rgb(28, 206, 123));
  color: #203040;
  width: 100%;
}

img.large {
  width: 100%;
}
