.shipping-form {
  max-width: 60rem;
  margin: 0 auto;
}

.shipping-form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.shipping-form label {
  margin: 1rem 0;
  display: block;
}

.shipping-form input {
  border: unset;
  border: 1px solid;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.shipping-btn-wrapper {
  padding-top: 1rem;
}

button.shipping-btn {
  background: linear-gradient(var(--theme-primary-shade), var(--theme-primary));
  color: var(--theme-text);
  width: 100%;
}
