.register-form {
  max-width: 60rem;
  margin: 0 auto;
}

.register-form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.register-form label {
  margin: 1rem 0;
  display: block;
}

.register-form input {
  border: unset;
  border: 1px solid;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.register-btn-wrapper {
  padding-top: 1rem;
}

button.register-btn {
  background: linear-gradient(var(--theme-primary-shade), var(--theme-primary));
  color: var(--theme-text);
  width: 100%;
}

.existing-customer-wrapper {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.existing-customer-text {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  position: relative;
  background-color: white;
}

.existing-customer-text:before {
  content: "";
  width: 90%;
  border-bottom: solid 1px var(--border-light);
  position: absolute;
  left: 5%;
  top: 50%;
  z-index: 1;
}

.existing-customer-text p {
  background-color: white;
  width: auto;
  display: inline-block;
  z-index: 3;
  padding: 0 20px 0 20px;
  color: var(--border-dark);
  position: relative;
  margin: 0;
}
