/* Card */
.card {
  border: 0.1rem var(--product-border) solid;
  background-color: var(--product-off-white);
  border-radius: 0.5rem;
  margin: 1rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  height: 40rem;
}
.card-image {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--default-white);
  border-radius: 0.5rem;
}

.card-image img {
  width: 100%;
  border-radius: 0.5rem;
}

.card-body {
  padding: 1rem;
}
.card-body a {
  color: var(--theme-text);
}
.card-body a:hover {
  color: var(--theme-primary);
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
