/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  height: 40rem;
}
.card-image {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #fff;
  border-radius: 0.5rem;
}

.card-image img {
  width: 100%;
  border-radius: 0.5rem;
}

.card-body {
  padding: 1rem;
}
.card-body a {
  color: #1d2024;
}
.card-body a:hover {
  color: rgb(28, 206, 123);
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
