.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: var(--alert-info-txt);
  background-color: var(--alert-info-bg);
}
.alert-danger {
  color: var(--alert-danger-txt);
  background-color: var(--alert-danger-bg);
}
