.cart-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.left-col {
  flex: 2 1 50rem;
  margin-right: 2rem;
}

.cart-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.right-col {
  flex: 1 1 25rem;
}

.small-img {
  max-width: 5rem;
  width: 100%;
}

.product-name {
  min-width: 30rem;
}

.card-right {
  border: 0.1rem var(--product-border) solid;
  background-color: var(--product-off-white);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.card-right > * {
  margin-bottom: 0.5rem;
}

button.checkout-btn {
  background: linear-gradient(var(--theme-primary-shade), var(--theme-primary));
  color: var(--theme-text);
  width: 100%;
}
