@import "./utils/utils.css";

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: var(--theme-secondary);
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: var(--theme-secondary);
  color: var(--default-white);
}
/* Common */

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--theme-primary);
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--border-light);
  font-size: 1.6rem;
  cursor: pointer;
}

button:hover {
  border: 0.1rem solid var(--border-dark);
}

/* Header */
header a {
  color: var(--default-white);
  padding: 1rem;
}
a.brand {
  color: var(--default-white);
  font-size: 3rem;
  font-weight: bold;
}

.badge {
  background-color: var(--badge);
  color: var(--default-white);
  border-radius: 50%;
  padding: 0.4rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
  font-weight: 600;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
